@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --light-blue: #2c7dfa;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
  position: relative;
}

#qr-code {
  background-color: var(--white-color);
  width: 320px;
  height: 497px;
  border-radius: 20px;
  position: absolute;

  left: 50%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.qr-container {
  background-image: url('./images/image-qr-code.png');
  background-color: var(--light-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 288px;
  height: 288px;
  margin: 0 auto;
  margin-top: 16px;
}

.text-container {
  font-family: 'Outfit', sans-serif;
  padding: 0 25px;
  text-align: center;
}

.text-container h3 {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-blue);
}

.text-container p {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-blue);
  padding: 0 3px;
}
